.Circle{

    color:white;
    color:white;
    text-align: center;
    text-decoration: none;
    object-position:50px;
    top: 50px;
    left: 50px;
    text-align:center;
    font-size: 24px;
    color: #ffffff; 

    border-radius: 5px; 
    padding: 50px;
    margin:50px;
}
.Rectangle{
color:white;
    text-align: center;
    text-decoration: none;
    object-position:50px;
    top: 50px;
    left: 50px;
    text-align:center;
    font-size: 24px;
    color: #ffffff; 

    border-radius: 5px; 
    padding: 50px;
    margin:50px;
}
.Square{

    color:white;
    color:white;
    text-align: center;
    text-decoration: none;
    object-position:50px;
    top: 50px;
    left: 50px;
    text-align:center;
    font-size: 24px;
    color: #ffffff; 

    border-radius: 5px; 
    padding: 50px;
    margin:50px;
}
.Back{

    font-size:x-large;
}
#Home{
    
    text-decoration: none;
    position: relative;
    left: 50px;
    top: 275px;
    width: 50px;
    text-align:center;
    font-size: 24px;
    color: #ffffff; 
    background-color: rgba(71, 80, 88, 0.5); 
    border-radius: 5px; 
    padding: 50px;
    margin: 120px;
}

html, body{
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}  
#video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

#content {
  position: relative;
  z-index 1;
  
}  

  
  

    
